*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #8DC2F8;
  margin-left: 1%;
}
form{
  margin-top: 1%;
}
label, input{
  display: block;
}

p{
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 13px;
}

a{
  text-decoration: none;
  background-color: white;
  border: 1px solid silver;
  color: black;
  padding: 5px;
}

input[type=submit]{
  margin-top: 20px;
  height: 25px;
}
